@model BlockbusterInc.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Name</h1>

<p>This customer currently has @Model.MoviesRented movies rented.</p>

